body {
    margin: 0;
    padding: 0;
    background-image: url("../images/background.png");
}

header {
    background: url("../images/bannerbg.png");
    background-repeat: repeat-x;
}

header>div {
    max-width: 960px;
    margin: 0 auto;
}

#body_container {
    max-width: 960px;
    margin: auto;
}

#body_container>div {
    border: 1px solid grey;
    border-radius: 20px;
    overflow: hidden;
    background-color: #A2B964;
}

#body_container>h1 {
    text-align: center;
    text-shadow: 3px 3px #999999;
}

#body_container>div>aside {
    float: right;
    font-size: 11px;
    width: 25%;
}

#main_body_content {
    width: 75%;
}

#main_body_content>#main_body_content_header {
    background-image: url("../images/rbg.png");
    color: Red;
    font-weight: bold;
    font-family: Arial;
    background-repeat: repeat-x;
    font-size: 55px;
}

#main_body_content>div>img {
    vertical-align: middle;
}

#comments {
    column-count: 2;
    background-image: url("../images/background.png");
    overflow: auto;
}

.user_comment {
    padding: 10px;
    page-break-inside: avoid;
    break-inside: avoid;
}

.user_quote {
    border: solid grey 1px;
    border-radius: 10px;
    padding: 10px;
    background-color: #E8DC9B;
}

.critic {
    font-size: 13px;
    color: grey;
}

.user_comment img {
    float: left;
    vertical-align: top;
}

ul>li {
    list-style-type: none;
    padding: 0;
}

P#pegination {
    text-align: center;
}

div#validator {
    position: fixed;
    bottom: 0;
    right: 0;
}

#movie_detail {
    padding: 0 5px;
}

#movie_detail>dt {
    font-weight: bold;
}